* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: gray;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu {
    border: 1px solid white;
    color: white;
    display: flex;
    height: 60px;
    width: 100px;
    align-items: center;
    justify-content: center;
}

.main {}

.article {
    background-color: lightgray;
}

.article-title {
    background-color: gray;
}

.footer {
    background-color: black;
}

.footer-item {
    color: white;
    border: 1px solid white;
}